{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
{% endblock %}


{% block content %}
    <div class="container">
        <h2>Войти в аккаунт</h2>

        <!-- Выводим сообщения об ошибках -->
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
                {{ form.username|add_class:"form-control" }} <!-- Применяем Bootstrap класс -->
            </div>

            <div class="form-group">
                <label for="{{ form.password.id_for_label }}">Пароль</label>
                {{ form.password|add_class:"form-control" }} <!-- Применяем Bootstrap класс -->
            </div>

            <button type="submit" class="btn btn-primary">Войти</button>
        </form>

        <p class="mt-3">Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
    </div>
{% endblock %}