{% extends "base.html" %}
{% load static %}
{% load custom_filters %}


{% block content %}
<div class="card shadow-sm">
    <a href="{% url 'recipe_detail' pk=recipe.id %}">
        <img src="{{ recipe.image.url }}" class="card-img-top rounded" alt="{{ recipe.name }}">
    </a>
    <div class="card-body">
        <h5 class="card-title">{{ recipe.name }}</h5>
        <p class="card-difficulty text-success">
            <strong>Сложность:</strong> {{ "*"|repeat:recipe.difficulty }}
        </p>
        <p class="card-description">{{ recipe.description }}</p>
    </div>
</div>
{% endblock %}